{%- include 'python_file_header.py.jinja2' ignore missing %}
{%- import 'macros.jinja2' as macros %}


#from odoo import models, fields, api, tools, _
# import odoo.addons.decimal_precision as dp
#import logging
#_logger = logging.getLogger(__name__)


{% for model in models -%}
{% for import in model.import_ids %}
{{ 'from '+import.parent+' ' if import.parent }}import {{ import.name }}
{% endfor -%}
{% for code in model.custom_code_line_ids %}
{{ code.custom_code if not code.class_code }}
{% endfor -%}
{{ macros.builder_ir_model(model) }}
{% endfor -%}
