from openerp.addons.web import http
from openerp.addons.web.controllers.main import content_disposition
from openerp.addons.web.http import request


class MainController(http.Controller):
{% for page in pages %}
    @http.route([{{ controller_routes[page.attr_id] }}], type='http', auth="{{ page.visibility }}", methods=['GET'], website=True)
    def page{{ loop.index }}({{ route_parameters[page.attr_id] }}):

    return request.render('{{ page.module_id.name }}.{{ page.attr_id }}', {})
{% endfor %}
